Repository open-telemetry/opentelemetry-ruby-contrib, pull requests merged in 2023-07, with the labels that each got.

#558 test: update faraday test version matrix
  instrumentation/faraday/Appraisals
Labels: dependencies

#559 ci: group appraisal run output
  .github/actions/test_gem/action.yml
Labels: github_actions

#574 fix: Pass block explicitly in `define_method` calls for PG instrumentation query methods
  instrumentation/pg/lib/opentelemetry/instrumentation/pg/patches/connection.rb
  instrumentation/pg/test/opentelemetry/instrumentation/pg/patches/connection_test.rb
Labels: help wanted

#557 fix: GraphQL validate events
  instrumentation/graphql/lib/opentelemetry/instrumentation/graphql/tracers/graphql_trace.rb
  instrumentation/graphql/lib/opentelemetry/instrumentation/graphql/tracers/graphql_tracer.rb
  instrumentation/graphql/test/instrumentation/graphql/tracers/graphql_tracing_test.rb
Labels: help wanted
